html, body {margin: 0; padding: 0; height: 100%; font-size:16px; box-sizing: border-box;}
div, ul, li, p, h1, h2, h3, h4, h5 {margin: 0; padding: 0; box-sizing: border-box; list-style:none;}

.img {width:100%;}
.clear {clear:both;}
.clear:after {clear:both; display:block; content:"";}